:root{
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --blue: hsl(217, 84%, 56%);
    --green: hsl(147, 65%, 44%);
    --grayish: hsl(216, 84%, 98%);
    --veryLightBlue: hsl(217, 82%, 89%);
    --veryGrayish: hsl(208, 18%, 48%);
    --orange: hsl(26, 100%, 50%);
    --lightBrown: hsl(24, 50%, 51%);
    --white: hsl(0, 0%, 100%);
    --deepBrown: hsl(23, 100%, 46%);
    --lightYellow: hsl(43, 100%, 82%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}